#### variables en python
* nombres de variables
* operadores matematicos
* ingreso de datos
* mostrar datos al usuario

In [1]:
#suma
23 + 45

68

In [2]:
# resta
34 - 45

-11

In [3]:
# multiplicacion 
34 * 32

1088

In [4]:
# division
34 / 2

17.0

In [5]:
# trabajo con variables 
number_1 =12
number_1

In [6]:
number.2 =23

SyntaxError: invalid syntax (588250157.py, line 1)

In [7]:
number-1 =23

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1098573982.py, line 1)

In [8]:
Firstname = "july"

In [9]:
first_name = "july"

In [11]:
number_1 = 10

In [12]:
number_2 =20

# sumar dos numeros
total = number_1 + number_2

print(total)

30

In [13]:
print(f"el resultado es: {total}")

el resultado es: 30

In [25]:
number_1 = input("numero 1:") 
number_1 = int(number_1)
number_2 = int (input("numero 2:") )

total_2 = number_1 + number_2

print(total_2)

30

### operadores de comparacion 
* ">" mayor que
* "<" menor que
* ">=" mayor igual
* "<=" menor igual
* "=="
* "!="

In [21]:
3 > 5

False

In [22]:
1 < 2

True

In [23]:
"july" == "ooooo"

False

In [26]:
number_1 != number_2

True

In [27]:
12.4 == number_1

False

In [36]:
# condicionales encadenados
week_day = input("Day:")
if week_day == "lunes":
    print("Voy al trabajo")

elif week_day == "martes":
    print("duermo")

elif week_day == "miercoles":
    print("duermo")

else:
    print("ingrese un dia valido")

no es domingo

In [ ]:
# condicionales anidados
week_day = input("Day:")
hora_aprox = input("hora estimada")

if week_day == "lunes":
    
   if hora_aprox == "mañana"
   print("lunes en la mañana")
elif hora_aprox == :"tarde"
    print("lunes en la tarde")
else:
    print("lunes en la noche")

elif week_day == "martes":
    print("duermo")

elif week_day == "miercoles":
    print("duermo")

else:
    print("ingrese un dia valido")

In [37]:
# listas
[1,3,5,7,9]

[1, 3, 5, 7, 9]

In [38]:
["lunes","martes","miercoles"]

['lunes', 'martes', 'miercoles']

In [39]:
numbers_list = [1,3,5,7,9]
print(numbers_list)

[1, 3, 5, 7, 9]

In [76]:
letras = ["A","B","C","D"]

In [48]:
letras[-4]

'A'

In [53]:
# START: STOP
letras[0:2]

['A', 'B']

In [68]:
# START: STEP STOP
letras[0:1:4]

['A', 'C']

In [79]:
# ciclos
for letra in letras
if letra == "2":
    print("hay una z")
else:
    print(f"no hay {letra}")

SyntaxError: expected ':' (3932156200.py, line 2)

In [81]:
for value in range(1,8):
    print(value)

1
2
3
4
5
6
7